#walrus-showing {
  display: none;
}

#walrus-fadeout {
  display: none;
}

#walrus-slideout {
  display: none;
}

#peekabooshow{
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

img{
  width: 50%;
}


.dark-background {
  background-color: black;
}

.light-background {
  background-color: blue;
}

.inside-dark{
  .green-background {
    background-color: green;
  }
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.buttonsBecomeDark {
  display: none;
}
