#walrus-showing {
  display: none;
}

#walrus-fadeout {
  display: none;
}

#walrus-slideout {
  display: none;
}

#peekabooshow{
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

img{
  width: 50%;
}
